<span class="badge badge-{{style}}">
    {{#if countdown}}
        <span class="time-target" data-target="{{target}}">
            <span class="hour"></span>:<span class="min"></span>:<span class="sec"></span>
        </span>
    {{else}}
        {{from}}
    {{/if}}
</span>