#disclaimer {
  line-height: 80%;
  font-style: italic;
}

.card-body ul, .card-footer ul {
  margin-bottom: 0;
}

.card-body li, .card-footer li {
  list-style: none;
  margin-left: -20px;
}

.card-footer li:before {
  content: "- ";
  text-indent: -5px;
}

footer {
  border-top: 1px solid lightgrey;
  font-size: 0.9rem;
}