#disclaimer {
  line-height: 80%;
  font-style: italic;
}

.card-body ul, .card-footer ul {
  padding-left: 30px;
  margin-bottom: 0;
}

.card-body li, .card-footer li {
  list-style: none;
  margin-left: -20px;
}

.card-footer li:before {
  content: "- ";
  text-indent: -5px;
}

footer {
  border-top: 1px solid lightgrey;
  font-size: 0.9rem;
}

/* Dark Theme */

[data-theme="dark"] {
  background-color: #111 !important;
  color: #ddd;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .navbar-light .navbar-brand,
[data-theme="dark"] .navbar-light .navbar-nav .nav-link:hover,
[data-theme="dark"] .dropdown-item,
[data-theme="dark"] .close,
[data-theme="dark"] .popover-body {
  color: #eee;
}

[data-theme="dark"] .navbar-light .navbar-nav .nav-link {
  color: #bbb;
}

[data-theme="dark"] .nav-link, [data-theme="dark"] .nav-link:hover {
  color: #bbb;
}

[data-theme="dark"] .nav-link.active {
  background-color: #555;
  color: #ccc;
}

[data-theme="dark"] .card-footer {
  background-color: #333;
  color: #ddd;
}

[data-theme="dark"] #eventsGlobal .row .col,
[data-theme="dark"] #eventsEurope .row .col,
[data-theme="dark"] #eventsAsia .row .col {
  background-color: #333;
  color: #ddd;
}

[data-theme="dark"] .text-muted {
  color: #bbb !important;
}

[data-theme="dark"] .btn-light,
[data-theme="dark"] .dropdown-menu.show,
[data-theme="dark"] .card-header,
[data-theme="dark"] .popover-header {
  background-color: #333;
  color: #eee;
}

[data-theme="dark"] .badge-light {
  background-color: #222;
  color: #eee;
}

[data-theme="dark"] .card-body {
  background-color: #555;
}

[data-theme="dark"] a {
  color: cornflowerblue;
}

[data-theme="dark"] a:hover {
  color: dodgerblue;
}

[data-theme="dark"] a.btn, [data-theme="dark"] a.btn:hover {
  color: #eee;
}

[data-theme="dark"] .table td, [data-theme="dark"] .table th {
  color: #eee;
}